
  <div class="row">
    <div class="col-sm">
    
    </div>
    <div class="col-sm">
     <%= image_tag('logo.png', width: '43px', height: '43px') %>
    </div>
    <div class="col-sm">
    
    </div>
  </div>

<div class="jumbotron">
  <h1>Welcome to Shengen Penguin</h1>
  <p>Helping you control your Eu dates</p>
 <%= link_to 'Sign Up', '/signup', class: "btn btn-primary btn-lg" %>
</div>
